<li><%= @restaurant.name %></li>
<li><%= @restaurant.address %></li>
<li><%= @restaurant.category.capitalize %></li>


<h2>Reviews</h2>

<% @restaurant.reviews.each do |r| %>
  <p><strong>Description</strong></p><p><%= r.content %></p>
  <p>Rating  <%= r.rating %></p>
<% end %>

<%= link_to "Add a review |",  new_restaurant_review_path(@restaurant) %>

<%= link_to "Back", restaurants_path %>
